/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
$font-family-base: "Lato" "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$nav-color: #3f474d;
$nav-color-highlight: #e69422;
$details-color: #edf0f2;
$bread-border-color: #bfbfbf;
$activity-color: #fafafa;

$grid-gutter-width: 0;

$navbar-default-bg: #2b3033;
$navbar-margin-bottom: 0px;

$breadcrumb-separator: ">";
$breadcrumb-bg: #fff;

$modal-lg: 750px;

@import "bootstrap";

html, body {
	min-height: 100%;
}

.navbar {
	padding-right: 20px;
	padding-left: 20px;
	.logo {
		margin-top: -1px;
	}
}

.navbar-nav {
	&>li>a {
		font-weight: 500;
		color: #fff!important;
	}
	.user {
		margin-top: -1px;
		margin-right: 4px;
	}
}

.full:before {
	content: '';
    display: block;
    float: left;
    height: 100%;
}

.fill {
	position: relative;
	&:after {
		content: '';
		display: block;
		clear: left;
	}
}

.modal {
	.modal-header {
		background: $nav-color;
		color: #fff!important;
		span {
			color: #fff!important;
		}
	}
	h5 {
		margin-bottom: -28px;
		span {
			background: #fff;
		}
	}
	hr {
		margin-bottom: 25px;
	}
	.form-group {
		margin-top: 10px;
	}
}

.wrapper {
    width: 100%;
    height: 100%;
}

#nav {
	min-height: 100%;
	background: $nav-color;
	ul {
		li {
			text-align: center;
			color: #fff;
			font-size: 80%;
			font-weight: bold;
			height: 90px;
			padding-top: 22px;
			vertical-align: middle;
			&:hover {
				background: darken($nav-color,10%);
			}
			&.active {
				background: $nav-color-highlight;
			}
			p {
				margin-top: 2px;
			}
		}
	}
}

#content {
	height: 100%;
}

#bread {
	border-bottom: 1px solid $bread-border-color;
	ol {
		margin-bottom: 0;
	}
}

#details {
	background: $details-color;
	min-height: 100%;
	border-right: 1px solid $bread-border-color;
	padding-bottom: 20px;
	.btn-group {
		width: 100%;
	}
	.form-group {
		margin-top: 10px;
	}
	h5 {
		font-size: 80%;
	}
}

#activity {
	background: $activity-color;
	min-height: 100%;
	.show-select {
		margin-top: 10px;
		select {
			height: 25px;
		}
		span {
			margin-top: 2px;
		}
	}
	ul.activities {
		li {
			padding: 12px 0;
			background: #fff;
			border-top: 1px solid lighten($bread-border-color,10%);
			span {
				margin-bottom: -2px;
			}
			.text-muted {
				font-size: 80%;
			}
			&:last-child {
				border-bottom: 1px solid lighten($bread-border-color,10%);
			}
		}
	}
}

#details, #activity {
	padding-top: 40px;
}