#update-contact.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          %span.glyphicon.glyphicon-remove
        %h4.modal-title UPDATE CONTACT
      .modal-body
        %p One fine body&hellip;