-# app/views/layouts/application.html.haml
!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{:type => "button", :data => {toggle: "collapse"}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand
            .logo.pull-left
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "#"} HELP
          %li.dropdown
            %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
              .user.pull-left
              John Doe 
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "#"} Action
              %li
                %a{href: "#"} Action
    #main{:role => "main", :class => "wrapper"}
      -# app/views/layouts/modal.html.haml
      = render 'layouts/modal'
      #nav.col-xs-1
        %ul.nav
          %li
            .result
            %br
            RESULT
          %li
            .customers
            %br
            CUSTOMERS
          %li
            .reviews
            %br
            REVIEWS
          %li
            .campaign
            %br
            CAMPAIGNS
          %li
            .appoint
            %br
            APPOINTMENTS
          %li
            .settings
            %br
            SETTINGS
      #content.col-xs-11
        #bread.col-xs-12
          %ol.breadcrumb
            %li
              Acme Enterprise
            %li
              Contacts
            %li.active
              %a{href: "#"} Contact Details

        #details.col-xs-6 
          .row
            .col-xs-11.col-xs-offset-1
              .col-xs-12 CONTACT DETAILS
              .col-xs-6
                %h5.detail-header First Name
                Kartik
              .col-xs-6
                %h5.detail-header Last Name
                Singh
              .col-xs-12
                %h5.detail-header Email
                kartikluke@gmail.com
              .col-xs-6
                %h5.detail-header Phone Number
                (888) 555-6677-8899
              .col-xs-6
                %h5.detail-header Mobile Number
                (999) 222-3344-5566
              .col-xs-6
                %h5.detail-header Address 1
                333 Battery Street
              .col-xs-6
                %h5.detail-header Address 2
                333 Battery Street
              .col-xs-6
                %h5.detail-header City
                San Francisco
              .col-xs-6
                %h5.detail-header State
                California
              .col-xs-6
                %h5.detail-header Zip
                576104
              .col-xs-6
                %h5.detail-header Country
                USA
              .col-xs-12
                %h5.detail-header Contact Preferences
                .btn-group.clearfix
                  %button.btn.btn-default.col-xs-3{type: "button"} 
                    SMS
                  %button.btn.btn-default.col-xs-3{type: "button"} 
                    Email
                  %button.btn.btn-default.col-xs-3{type: "button"} 
                    Direct Mail
              .clearfix
              %br
              %br
              %br

              %button.btn.btn-success UPDATE CONTACT

        #activity.col-xs-6 
          .row
            .col-xs-10.col-xs-offset-1
              .col-xs-12 
                ACTIVITY
                %ul.nav.navbar-right.navbar-nav
                  %li Show
                  %li
                    %select.form-control.pull-right
            .clearfix
            %ul.nav.activities
              %li.clearfix
                .col-xs-10.col-xs-offset-1
                  .col-xs-1
                    .c-email
                  .info.col-xs-11
                    .col-xs-12
                      .col-xs-6.text-left Email
                      .col-xs-6.text-right Tue 01-03-2014
                      .col-xs-12 Wrote an email
              %li.clearfix
                .col-xs-10.col-xs-offset-1
                  .col-xs-1
                    .c-email
                  .info.col-xs-11
                    .col-xs-12
                      .col-xs-6.text-left Purchase
                      .col-xs-6.text-right Tue 01-03-2014
                      .col-xs-12 Made a purchase
              %li.clearfix
                .col-xs-10.col-xs-offset-1
                  .col-xs-1
                    .c-review
                  .info.col-xs-11
                    .col-xs-12
                      .col-xs-6.text-left Review
                      .col-xs-6.text-right Tue 01-03-2014
                      .col-xs-12 Got a review
