-# app/views/layouts/application.html.haml
!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{:type => "button", :data => {toggle: "collapse"}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand
            .logo.pull-left
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "#"} HELP
          %li.dropdown
            %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
              .user.pull-left
              John Doe 
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "#"} Action
              %li
                %a{href: "#"} Action
    #main.wrapper.clearfix{:role => "main"}
      -# app/views/layouts/modal.html.haml
      = render 'layouts/modal'
      #nav.col-xs-1
        %ul.nav
          %li.active
            .result
            %br
            %p RESULT
          %li
            .customers
            %br
            %p CUSTOMERS
          %li
            .reviews
            %br
            %p REVIEWS
          %li
            .campaign
            %br
            %p CAMPAIGNS
          %li
            .appoint
            %br
            %p APPOINTMENTS
          %li
            .settings
            %br
            %p SETTINGS
      #content.col-xs-11

        #bread.col-xs-12
          %ol.breadcrumb
            %li
              Acme Enterprise
            %li
              Contacts
            %li.active
              %a{href: "#"} Contact Details

        #details.col-xs-6 
          .row
            .col-xs-11.col-xs-offset-1
              .col-xs-12 
                %h4 CONTACT DETAILS
              .form-group.clearfix
                .col-xs-6
                  %h5.text-muted First Name
                  Kartik
                .col-xs-6
                  %h5.text-muted Last Name
                  Singh
              .form-group.clearfix
                .col-xs-12
                  %h5.text-muted Email
                  kartikluke@gmail.com
              .form-group.clearfix
                .col-xs-6
                  %h5.text-muted Phone Number
                  (888) 555-6677-8899
                .col-xs-6
                  %h5.text-muted Mobile Number
                  (999) 222-3344-5566
              .form-group.clearfix
                .col-xs-6
                  %h5.text-muted Address 1
                  333 Battery Street
                .col-xs-6
                  %h5.text-muted Address 2
                  333 Battery Street
              .form-group.clearfix
                .col-xs-6
                  %h5.text-muted City
                  San Francisco
                .col-xs-6
                  %h5.text-muted State
                  California
              .form-group.clearfix
                .col-xs-6
                  %h5.text-muted Zip
                  576104
                .col-xs-6
                  %h5.text-muted Country
                  USA
              .col-xs-12
                %h5.text-muted Contact Preferences
                .btn-group.clearfix
                  %button.btn.btn-default.col-xs-3{type: "button"} 
                    .pull-left 
                      %span.glyphicon.glyphicon-send
                      SMS
                    .pull-right
                      %span.glyphicon.glyphicon-remove
                  %button.btn.btn-default.col-xs-3{type: "button"} 
                    .pull-left 
                      %span.glyphicon.glyphicon-globe
                      Email
                    .pull-right
                      %span.glyphicon.glyphicon-remove
                  %button.btn.btn-default.col-xs-3{type: "button"} 
                    .pull-left 
                      %span.glyphicon.glyphicon-envelope
                      Direct Mail
                    .pull-right
                      %span.glyphicon.glyphicon-remove
              .clearfix
              %br
              %br
              %br

              %button.btn.btn-success.open-the-modal UPDATE CONTACT

        #activity.col-xs-6 
          .row
            .col-xs-10.col-xs-offset-1
              .col-xs-12 
                %h4.pull-left ACTIVITY
                %ul.nav.navbar-right.navbar-nav.show-select
                  %li 
                    %span Show&nbsp;
                  %li
                    %select.form-control.pull-right.input-sm
            .clearfix
            %ul.nav.activities
              %li.clearfix
                .col-xs-10.col-xs-offset-1
                  .col-xs-1
                    %span.c-email
                  .info.col-xs-11
                    .col-xs-12
                      .col-xs-6.text-left.text-muted Email
                      .col-xs-6.text-right.text-muted Tue 01-03-2014
                      .col-xs-12 Wrote an email
              %li.clearfix
                .col-xs-10.col-xs-offset-1
                  .col-xs-1
                    %span.c-purchase
                  .info.col-xs-11
                    .col-xs-12
                      .col-xs-6.text-left.text-muted Purchase
                      .col-xs-6.text-right.text-muted Tue 01-03-2014
                      .col-xs-12 Made a purchase
              %li.clearfix
                .col-xs-10.col-xs-offset-1
                  .col-xs-1
                    %span.c-review
                  .info.col-xs-11
                    .col-xs-12
                      .col-xs-6.text-left.text-muted Review
                      .col-xs-6.text-right.text-muted Tue 01-03-2014
                      .col-xs-12 Got a review
              %li.clearfix
                .col-xs-10.col-xs-offset-1
                  .col-xs-1
                    %span.c-email
                  .info.col-xs-11
                    .col-xs-12
                      .col-xs-6.text-left.text-muted Email
                      .col-xs-6.text-right.text-muted Tue 01-03-2014
                      .col-xs-12 Wrote an email
              %li.clearfix
                .col-xs-10.col-xs-offset-1
                  .col-xs-1
                    %span.c-purchase
                  .info.col-xs-11
                    .col-xs-12
                      .col-xs-6.text-left.text-muted Purchase
                      .col-xs-6.text-right.text-muted Tue 01-03-2014
                      .col-xs-12 Made a purchase
              %li.clearfix
                .col-xs-10.col-xs-offset-1
                  .col-xs-1
                    %span.c-review
                  .info.col-xs-11
                    .col-xs-12
                      .col-xs-6.text-left.text-muted Review
                      .col-xs-6.text-right.text-muted Tue 01-03-2014
                      .col-xs-12 Got a review
              %li.clearfix
                .col-xs-10.col-xs-offset-1
                  .col-xs-1
                    %span.c-email
                  .info.col-xs-11
                    .col-xs-12
                      .col-xs-6.text-left.text-muted Email
                      .col-xs-6.text-right.text-muted Tue 01-03-2014
                      .col-xs-12 Wrote an email
              %li.clearfix
                .col-xs-10.col-xs-offset-1
                  .col-xs-1
                    %span.c-purchase
                  .info.col-xs-11
                    .col-xs-12
                      .col-xs-6.text-left.text-muted Purchase
                      .col-xs-6.text-right.text-muted Tue 01-03-2014
                      .col-xs-12 Made a purchase
              %li.clearfix
                .col-xs-10.col-xs-offset-1
                  .col-xs-1
                    %span.c-review
                  .info.col-xs-11
                    .col-xs-12
                      .col-xs-6.text-left.text-muted Review
                      .col-xs-6.text-right.text-muted Tue 01-03-2014
                      .col-xs-12 Got a review
